@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General */

:root{
  --primary-color: #00e3a7;
  --secondary-color: #5300e3;
  --dark-primary-color: #00cc96;
  --dark-secondary-color: #4600bf;
}

body {
  background-color: var(--primary-color);
  font-family: Roboto;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 100px;
}

#back {
  position: fixed;
  top: 120px;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

#subtitle {
  margin: auto;
  text-align: center;
  height: 100px;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

legend {
  font-size: 2.4rem;
  margin: 20px;
}

fieldset {
  border: solid 2px var(--dark-primary-color);
  padding: 50px;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.input-div {
  margin: 0px 20px;
  position: relative;
  top: -19px;
}

label {
  font-size: 2rem;
}

input {
  display: block;
  width: 80%;
  height: 70px;
  font-size: 1.4rem;
  padding: 0px 10px;
  border: solid 1px transparent;
}

input:hover {
  border: solid 1px var(--dark-primary-color);
}

button {
  width: 340px;
  height: 100px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 2rem;
  border: 1px solid var(--dark-secondary-color);
  border-radius: 8px;
  box-shadow: 3px 3px 3px 1px var(--dark-primary-color);
  margin: 0px 20px;
}

button:hover #convert-arrow{
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

button:active {
  position: relative;
  top: 3px;
  left: 2px;
}

#output-div {
  text-align: center;
  font-size: 2rem;
  width: 400px;
  height: 70px;
  line-height: 70px;
  border: solid 1px black;
  background-color: white;
  margin: 0px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.output-box {
  margin: 0px;
  color: black;
}

#copy {
    position: fixed;
  bottom: 0;
  right: 10%;
    font-size: 0.8rem;
    color: var(--white-color);
    text-align: right;
  }

/* Animations */

/*

@keyframes appear {
  from {width: 0}
  to {width: 500px}
}

@keyframes left-slash {
  100% {
    left: -220px;
  }
}

@keyframes right-slash {
  100% {
    left: 220px;
  }
}
*/
