@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General */

:root{
  --primary-color: #1aabff;
  --secondary-color: #e21b5d;
  --dark-primary-color: #0a7ec2;
  --dark-secondary-color: #d71958;
}

body {
  background-color: var(--primary-color);
  font-family: Roboto;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 100px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  text-color: white;
}

a:visited {
  color: white;
}

#back {
  position: fixed;
  top: 120px;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

#subtitle {
  margin: auto;
  text-align: center;
  height: 100px;
  position: relative;
  top: -50px;
}

h2 {
  margin: auto;
  width: 0px;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 3rem;
  color: white;
  font-style: italic;
  animation-name: appear;
  animation-duration: 0.8s;
  animation-timing-function: steps(17, end);
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}



#left {
  height: 60px;
  position: relative;
  top: 58px;
  left: -8px;
  font-size: 3.5rem;
  font-weight: bold;
  animation-name: left-slash;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}



#right {
  height: 60px;
  position: relative;
  bottom: 62px;
  left: 8px;
  font-size: 3.5rem;
  font-weight: bold;
  animation-name: right-slash;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}



h3 {
  font-size: 2rem;
  margin: 10px;
}

#palindrome-definition {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

label {
  position: relative;
  left: 19.5%;
  font-size: 2rem;
}

input {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 50px;
  font-size: 1.4rem;
  padding: 0px 10px;
  border: solid 1px transparent;
}

input:hover {
  border: solid 1px var(--dark-primary-color);
}

button {
  display: block;
  margin: auto;
  width: 340px;
  height: 70px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 2rem;
  border: 1px solid var(--dark-secondary-color);
  box-shadow: 3px 3px 3px 1px var(--dark-primary-color);
}

button:active {
  position: relative;
  top: 3px;
  left: 2px;
}

#output-div {
  text-align: center;
  font-size: 2rem;
}

#copy {
    position: fixed;
  bottom: 0;
  right: 10%;
    font-size: 0.8rem;
    color: var(--white-color);
    text-align: right;
  }

/* Animations */

@keyframes appear {
  from {width: 0}
  to {width: 500px}
}

@keyframes left-slash {
  100% {
    left: -220px;
  }
}

@keyframes right-slash {
  100% {
    left: 220px;
  }
}
