@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General */

  :root{
  	--primary-color: #ffe7b9;
    --secondary-color:#ffa00f;
    --darker-secondary-color: #f59300;
    --tertiary-color: #1c1c1c;
    --darker-ternary-color: #292929;
    --white-color: white;
    --black-color: black;
  }

  html, body {
    scroll-behavior: smooth;
  }

  * {
    font-family: Roboto;
    margin:0;
    padding:0;
    z-index:1;
  }

  a {
    text-decoration: none;
    color: var(--black-color);
  }


/* Header & Nav */
  
  #logo-langka {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    height: 130px;
  }

  #navbar {
    position :fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 110px;
    font-size: 2rem;
    background-color: var(--white-color);
    border-bottom: solid 3px var(--secondary-color);
    z-index:5;
  }

  nav ul {
    position: absolute;
    list-style: none;
    text-align: right;
    bottom: 0;
    right: 0;
  }

  .nav-item {
    display: inline-block;
    padding: 7px;
    border-radius: 2px;
  }

  .nav-item:hover {
    animation-name: background-fade;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
  }

  @keyframes background-fade {
    100% {
      background-color: var(--primary-color);
    }
  }

/* Welcome section */

  #welcome-section {
    height: 100vh;
    background-image: url("/resources/images/background-transp.png");
    width:100%;
    background-size: 5000px;
  }

  #horizontal-bar {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#ffe7b9 45%, #ffd37e, #ffe7b9 55%);
    background-size: 200% 200%;
    z-index: -1;
    animation-name: upping;
    animation-timing-function: cubic-bezier(.46,.13,.82,.06);
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }

  @keyframes upping {
    0% {
      background-position:-20% -20%;
    }
    100% {
      background-position: 120% 120%;
    }
  }

  h1 {
    margin: 0;
    padding-top: 320px;
    text-align: center;
    font-size: 5rem;
  }

  h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    color: var(--tertiary-color);
  }

/* Projects section */

  #projects {
    background-color: var(--tertiary-color);
    border-top: solid 3px var(--secondary-color);
    border-bottom: solid 3px var(--secondary-color);
    padding: 110px 0px;
    width: 100%;
  }

  h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--white-color);
  }

  #filter-container {
    background-color: var(--black-color);
    transform: skewX(-65deg);
    width: 700px;
    height: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #filter-div {
  	display: flex;
  	justify-content: space-between;
  	width: 500px;
  	margin: auto;
  }

  .filter-tag {
  	height: 40px;
  	line-height: 30px;
  	width: 100px;
  	padding: 5px;
  	background-color: var(--primary-color);
  	text-align: center;
  	border: none;
    transform: skewX(65deg);
    margin-top: -10px;
    font-size: 1.2rem;
  }

  .active {
  	background-color: var(--secondary-color);
  }

  #project-showcase {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    overflow: hidden;
    margin: auto;
  }

  .show {
  	display: block;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes appear {
    0% {
      height: 0px;
    }
    100% {
      height: 350px;
    }
  }

  .hide {
    overflow: hidden;
    animation-name: disappear;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes disappear {
    0% {
      height: 350px;
    }
    100% {
      height: 0px;
    }
  }

  .project-tile {
    background-color: var(--black-color);
    width: 385px;
    height: 350px;
    margin: 20px 0px;
    overflow: hidden;
  }

  .project-title {
  	height: 75px;
    text-align: center;
    color: var(--white-color);
  }

  .project-thumbnail {
    overflow: hidden;
  }

  h4 {
  	font-size: 1.5rem;
    margin-top: 5px;
  }

  h5 {
  	font-size: 1.1rem;
  }

  #slider {
    display: none;
    position: relative;
    top: -552px;
    background-color: rgba(0,0,0,0.9);
    animation-name: slide-down;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slide-down {
    100% {
      top: -276px;
    }
  }

  .project-description {
    display: block;
  	color: var(--white-color);
  	height: 175px;
  }

  .project-tags {
    display: flex;
  	height: 50px;
  	justify-content: center;
  }

  .tag {
  	background-color: var(--darker-ternary-color);
  	color: var(--white-color);
  	height: 30px;
  	line-height: 30px;
  	margin-left: 5px;
  	margin-right: 5px;
  	padding: 0px 5px;
  	border-radius: 5px;
  	box-shadow: 2px 2px black;
  }

  .go-to-project {
    display:block;
  	height: 50px;
  }

  .go-to-btn {
  	height: 25px;
  	line-height: 25px;
  	width: 100px;
  	padding: 5px;
  	margin-right: auto;
  	margin-left: auto;
  	background-color: var(--primary-color);
  	border-radius: 5px;
  	text-transform: uppercase;
  }

  .go-to-btn:hover {
  	background-color: var(--secondary-color);
  	color: var(--white-color);
  }

  .external-link-icon {
  	height: 12px;
	  width: 12px;
  	fill: var(--white-color);
  	padding: 0px 5px;
  }

  .project-tile:hover #slider {
  	display: block;
  }

/* About section */
  
  #about {
    margin-left: 50px;
    margin-right: 50px;
    min-height: 320px;
    padding: 110px 0px;
  }

  #about-title {
    color: var(--black-color);
  }

  #about-div {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  #main-col {
    width: 50%;
    margin: auto;
  }

  .col {
    width: calc(50% / 2);
  }

  #photo-div-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 236px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 25% 0%);
    background-color: var(--secondary-color);
    margin: auto;
  }

  #photo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 230px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20%, 25% 0%);
    background-color: var(--white-color);
    margin: 3px;
    overflow: hidden;
  }


  #photo {
    height: 230px;
  }

  #about-text {
    line-height: 1.7;
    font-size: 1.3rem;
    text-align: justify;
    text-justify: inter-word;
  }

  strong {
    font-size: 1.5rem;
  }

/* Contact section */

  #contact-section {
    padding-top: 110px 0px;
  }

  #contact-title {
    font-size: 1.5rem;
    color: var(--black-color);
    width: 80%;
    margin: auto;
  }

  #contact-form {
    background-color: var(--primary-color);
    width: 390px;
    margin: auto;
    padding: 40px;
  }

  .label-text {
    padding-top: 10px;
  }

  #mrs, #mr {
    margin-right: 5px;
  }

  #mr {
    margin-left: 10px;
  }

  .input-field, #dropdown {
    width: 383px;
    height: 1.6rem;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 2px 2px lightslategray;
    padding-left: 5px;
    margin-top: 10px;
    font-size: 1rem;
  }

  #dropdown {
    width: 390px;
  }

  #subject-other-div {
    display: none;
  }

  #message {
    height: 10rem;
  }

  #personal-data-statement-label {
    width: 383px;
  }

  #personal-data-statement {
    margin-right: 5px;
  }

  #submit-btn {
    background-color: var(--secondary-color);
    width: 90px;
    height: 40px;
    line-height: 40px;
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
    box-shadow: 2px 2px lightslategray;
    padding: 0px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: calc(300px/2);
    margin-right: calc(300px/2);
  }

  #submit-btn:hover {
    background-color: var(--darker-secondary-color);
  }

  #submit-btn:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
  }

  #social-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  .logo {
    height: 50px;
    margin: 20px;
  }

  #copy {
    background-color: var(--tertiary-color);
    font-size: 0.8rem;
    color: var(--white-color);
    text-align: right;
  }

/* Responsive */

  @media (max-width: 500px) {
    h1 {
      padding-top: 100px;
    }
    
    h2 {
      font-size: 3.5em;
    }
    
    .project-group {
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:auto;
    }

    .project-tile {
      display: flex;
      flex-direction: column;
      background-color: var(--black-color);
      width: 250px;
      height: 230px;
      margin:auto;
      margin-bottom: 10px;
      padding-top: 27px;
      justify-content: center;
      align-items: center;
      border: solid 1px red;
    }

    .project-thumbnail {
      width: 197px;
    }

    .project-title {
      width:100%;
      height:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color:var(--white-color);
      font-size: 1.5em;
    }
  }
